<div class="row justify-content-center mt-3 g-0">
	<img src="assets/images/profile_picture.JPEG" alt="" class="avatar">
</div>
<div class="row text-center mt-3">
	<h4>Lewis Blundell</h4>
	<p>Software Developer</p>
</div>
<div class="row mt-3">
	<div class="col-6 border-2 border-end">
		<h3>Basic Information</h3>
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Full name:</strong></span>
				<span>Lewis Blundell</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Organisation:</strong></span>
				<span>Development Team</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Role:</strong></span>
				<span>Software Developer</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Username:</strong></span>
				<span>LewBlu</span>
			</li>
		</ul>
	</div>
	<div class="col-6">
		<h3>Contact Information</h3>
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Email:</strong></span>
				<span>Example@email.com</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Telephone:</strong></span>
				<span>09876543210</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Alt Telephone:</strong></span>
				<span>N/A</span>
			</li>
		</ul>
	</div>
</div>
<div class="row mt-3">
	<div class="col-6 border-2 border-end">
		<h3>Account Information</h3>
		<ul class="list-group">
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Last active:</strong></span>
				<span>04/10/2022 15:32</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Created:</strong></span>
				<span>01/10/2022 12:47</span>
			</li>
			<li class="list-group-item d-flex justify-content-between">
				<span><strong>Alt Telephone:</strong></span>
				<span>N/A</span>
			</li>
		</ul>
	</div>
</div>