<div class="row mt-3">
	<div class="col-8">
		<h1>Projects</h1>
	</div>
	<div class="col-3 d-flex align-items-center justify-content-end">
		<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
	</div>
	<div class="col-1 d-flex justify-content-end align-items-center">
		<button class="btn btn-primary" (click)="showForm = !showForm">Add Project</button>
	</div>
</div>
<div class="row">
	<div class="col">
		<app-project-group [projects]="projects"></app-project-group>
	</div>
	<div class="col" *ngIf="showForm" [@inOutAnimation]>
		<app-project-form></app-project-form>
	</div>
</div>