<div class="row mt-3">
    <div class="col-12 d-flex justify-content-end">
        <button class="btn btn-primary" (click)="showForm = !showForm">Add Project</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-project-group></app-project-group>
        <app-project-group></app-project-group>
        <app-project-group></app-project-group>
    </div>
    <div class="col" *ngIf="showForm" [@inOutAnimation]>
        <app-project-form></app-project-form>
    </div>
</div>