<div class="d-flex flex-column flex-shrink-0 p-3 h-100" style="width: 280px;">
	<a href="/" class="d-flex align-items-center link-dark text-decoration-none text-center">
		<h4 class="w-100">Agenda</h4>
	</a>
	<hr>
	<ul class="nav nav-pills flex-column mb-auto">
		<li class="nav-item">
			<a class="nav-link" routerLink="/" routerLinkActive #rla1="routerLinkActive" [ngClass]="{'link-light active': rla1.isActive, 'link-dark': !rla1.isActive}" [routerLinkActiveOptions]="{exact:true}">
				Dashboard
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/projects" routerLinkActive #rla2="routerLinkActive" [ngClass]="{'link-light active': rla2.isActive,'link-dark': !rla2.isActive}">
				Projects
			</a>
		</li>
		<li class="nav-item">
			<a href="/releases" class="nav-link" routerLinkActive #rla3="routerLinkActive" [ngClass]="{'link-light active': rla3.isActive, 'link-dark': !rla3.isActive}">
				Releases
			</a>
		</li>
	</ul>
	<hr>
	<div class="dropdown">
		<a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="assets/images/profile_picture.JPEG" alt="" width="32" height="32" class="rounded-circle me-2">
			<strong>Lewis Blundell</strong>
		</a>
		<ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
			<li><a class="dropdown-item" href="/settings">Settings</a></li>
			<li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
			<li>
				<hr class="dropdown-divider">
			</li>
			<li><a class="dropdown-item" (click)="onSignOut()">Sign out</a></li>
		</ul>
	</div>
</div>