<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Firstname</th>
			<th>Lastname</th>
			<th>Username</th>
			<th>Email</th>
			<th>Contact No.</th>
			<th>Role</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<tr style="cursor:pointer;">
			<td>Lewis</td>
			<td>Blundell</td>
			<td>lewis</td>
			<td>lewis.blundell.development@gmail.com</td>
			<td>07123456789</td>
			<td>Senior Developer</td>
			<td class="text-center fw-bolder"><fa-icon [icon]="faCheck" class="text-success"></fa-icon></td>
		</tr>
		<tr>
			<td>Example</td>
			<td>User</td>
			<td>user1</td>
			<td>lewis.blundell.development@gmail.com</td>
			<td>07123456789</td>
			<td>Senior Developer</td>
			<td class="text-center fw-bolder"><fa-icon [icon]="faXmark" class="text-danger"></fa-icon></td>
		</tr>
	</tbody>
</table>